@keyframes moving {
  0% {
    transform: rotateY(180deg);
    left: 0px;
  }
  50% {
    transform: rotateY(180deg);
    left: 60%;
  }
  51% {
    transform: rotateY(0deg);
    left: 60%;
  }
  100% {
    transform: rotateY(0deg);
    left: 0px;
  }
}
