@keyframes leftToRightDance {
  from {
    transform: translateX(-25px);
  }
  to {
    transform: translateX(25px);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes translateInfinite {
  from {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(5%);
  }
}

@keyframes upAndDown {
  from {
    transform: translateY(-2px);
    @media (max-width: 500px) {
      transform: translateY(-100px);
    }
  }

  to {
    transform: translateY(4px);
  }
}

@keyframes upAndDownMobile {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(4px);
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 73.301px));
  }
}
