@use '../utils/' as *;
.border-about-us {
  @include psudo(
    $el: after,
    $content: '',
    $inset: unset,
    $display: block,
    $position: absolute
  ) {
    isolation: isolate;
    border: $border-gray2;
    width: 20%;
    height: 100%;
    inset: 0;
    z-index: -1;
  }
}
