@use '../utils/' as *;

.button {
  @include d_flex(row, center, center, nowrap, true, PxToRem(48));

  padding: PxToRem(12) PxToRem(24);
  border-radius: PxToRem(12);
}
.phone-number {
  background-color: $white-40;
}
