@use '../utils' as *;

.card{
    border-bottom: 1px solid $gray3;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    display:flex;
}

.card-img{
    img{
        width:2.5rem;
    }
    
}
.card-user{
    color: #fff;
    display: inline-flex;
    padding: 0.3rem 0.5rem 0rem 1.1rem;
}
.card-time{
    display: inline-flex;
    color:$gray3;

}

.card-comment{
    margin:-1rem 1rem;
    p{
        margin:0 0 0.5rem 2rem;
        color:$gray3
    }
}