@use '../utils' as *;

card{
    border: 1px solid $gray;
    margin: 1rem;
    padding: 1rem;
    text-align: left;

    &:card-comment{
        color:#fff;
        position:relative;
    }
    card-header{
       color: $yellow;
       position:relative;
      
       h5{

        a{
            color:$white;
           }
       }
      
    }
    card-body{
       color: $white;
       padding-left:2rem;  

       p{
        color:$white2;
       }
     }
}