@use '../utils/' as *;

.search-input {
  border-radius: PxToRem(12);
  padding: PxToRem(12) PxToRem(16);
  @include d_flex(row, flex-start, center, nowrap, false, PxToRem(4));
  border: $border-gray;
  color: $gray2;
  width: max-content;
  i {
    font-size: PxToRem(24);
  }
}
