:root {
  --yellow: #deb645;
  --gray1: #2c2d35;
  --gray2: #808186;
  --gray3: #a2a3a5;
  --blue: #1c39bb;
  --white: #ffffff;
  --white-40: hsla(0, 0%, 100%, 0.4);
  --linear-gradient: linear-gradient(180deg, #2c2d35 0%, #14151a 100%);
  --dark-gray: #282828;
  --border-gray2-color: rgba(255, 255, 255, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  pointer-events: all;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

html.overflow-hidden {
  overflow: hidden !important;
}

body {
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden;
}

input[type=search] {
  color: var(--white);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Thin.woff2");
  src: url("../fonts/Inter/TTF/Inter-Thin.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-ExtraLight.woff2");
  src: url("../fonts/Inter/TTF/Inter-ExtraLight.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Light.woff2");
  src: url("../fonts/Inter/TTF/Inter-Light.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Regular.woff2");
  src: url("../fonts/Inter/TTF/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Medium.woff2");
  src: url("../fonts/Inter/TTF/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-SemiBold.woff2");
  src: url("../fonts/Inter/TTF/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Bold.woff2");
  src: url("../fonts/Inter/TTF/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-ExtraBold.woff2");
  src: url("../fonts/Inter/TTF/Inter-ExtraBold.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/woff2/Inter-Black.woff2");
  src: url("../fonts/Inter/TTF/Inter-Black.ttf") format("truetype"), url("../fonts/Inter/woff/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "yooz-move-icon";
  src: url("../fonts/icons/yooz-move-icon.eot");
  src: url("../fonts/icons/yooz-move-icon.eot") format("embedded-opentype"), url("../fonts/icons/yooz-move-icon.ttf") format("truetype"), url("../fonts/icons/yooz-move-icon.woff") format("woff"), url("../fonts/icons/yooz-move-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "yooz-move-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telphone:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

.icon-calendar:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-arrow-left:before {
  content: "\e906";
}

.icon-arrow:before {
  content: "\e909";
}

.icon-minus:before {
  content: "\e90b";
}

.icon-plus:before {
  content: "\e90c";
}

.icon-close:before {
  content: "\e90d";
}

.icon-paperclip:before {
  content: "\e90e";
}

.icon-quote-up:before {
  content: "\e90f";
}

.icon-send:before {
  content: "\e911";
}

.icon-sort:before {
  content: "\e912";
}

.icon-Star-fill:before {
  content: "\e913";
}

.icon-Star-stroke:before {
  content: "\e914";
}

.icon-timer:before {
  content: "\e915";
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--linear-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
body ::placeholder, body {
  font-family: Inter;
}
body ::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.form_control input {
  outline: none;
  background: none;
  border: none;
}

i {
  height: 1.5rem;
  width: 1.5rem;
}

select {
  font-family: Inter;
}

input {
  background-color: inherit;
  outline: none;
  border: none;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: inherit;
}

input {
  font-family: "Inter";
}

textarea {
  font-family: "Inter";
}

.button {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 0.75rem;
}

.phone-number {
  background-color: var(--white-40);
}

.search-input {
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.25rem;
  border: 1px solid var(--white-40);
  color: var(--gray2);
}

.border-about-us {
  position: relative;
  isolation: isolate;
}
.border-about-us::after {
  content: "";
  position: absolute;
  inset: unset;
  width: 0.25rem;
  height: 0.25rem;
  display: block;
  isolation: isolate;
  border: 1px solid var(--border-gray2-color);
  width: 20%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.site-header .header-desktop {
  padding-top: 2.25rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.site-header .header-desktop .header-menu-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.site-header .header-desktop .header-menu-logo .header-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.5rem;
}
.site-header .header-desktop .header-menu-logo .header-menu ul li {
  color: var(--white);
}
.site-header .header-desktop .search-telephone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.site-header .header-desktop .search-telephone .phone-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.site-header .header-desktop .search-telephone .phone-number .icon-search-wrapper {
  background-color: var(--yellow);
  padding: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.site-header .header-desktop .search-telephone .phone-number .icon-search-wrapper i {
  color: var(--dark-gray);
  font-size: 1.25rem;
  font-weight: 500;
}
.site-header .header-desktop .search-telephone .search-input i {
  font-size: 1.5rem;
}

main.about-us-page .same-style h2 {
  color: var(--white);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: auto;
  color: var(--yellow);
}
main.about-us-page .same-style .description {
  color: var(--white);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
main.about-us-page .sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2rem;
}
main.about-us-page .sec-1 > * {
  flex: 1;
}
main.about-us-page .sec-1 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 5rem;
}
main.about-us-page .sec-1 .content > * {
  flex: 1;
}
main.about-us-page .sec-1 .content .image {
  max-height: 30.75rem;
  max-width: 33.75rem;
  overflow: hidden;
}
main.about-us-page .sec-1 .content .image img {
  object-fit: cover;
}
main.about-us-page .sec-1 .content .text-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  position: relative;
  padding-inline: 0.75rem;
}

/*# sourceMappingURL=compiled.css.map */
