@use '../utils/' as *;

main.blog-page {
  @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));
  .title-image-blog {
    @include d_flex(row, space-between, center, nowrap, true, PxToRem(32));
    .image-blog {
      img {
        max-height: PxToRem(572);
        object-fit: contain;
        width: 100%;
      }
    }
    .title-description-btn {
      @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));

      h1 {
        @include font_style('t1');
        span {
          font-weight: 700;
          position: relative;
          @include psudo($el: after, $content: '', $inset: 0, $display: block) {
            position: absolute;
            background-image: url('../img/marker.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            inset: 0;
            top: 100%;
          }
        }
      }

      a {
        width: max-content;
        .button {
          background-color: $yellow;
          color: $dark-gray;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
      }
    }
    @media (max-width: 800px) {
      @include d_flex(column, center, center, nowrap, true, PxToRem(32));
      .title-description-btn {
        h1 {
          @include font_style(header7);
        }
      }
    }
  }
  #blogs {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));

    .cat-title-search {
      @include d_flex(row, space-between, center, nowrap, false, PxToRem(16));

      h2 {
        @include font_style(header);
        color: $yellow;
      }

      @media (max-width: 600px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        h2 {
          margin-top: PxToRem(32);
          @include font_style(header6);
          color: $yellow;
        }
        form {
          width: 100%;
          .search-input {
            width: 100%;
          }
        }
      }
    }
    .mobile-cat {
      @media (min-width: 601px) {
        display: none;
      }
    }
    .categories-names {
      ul {
        @include d_flex(row, flex-start, center, wrap, false, PxToRem(12));
        li {
          text-transform: capitalize;
          padding: PxToRem(8) PxToRem(24);
          border: 1px solid transparent;
          border-radius: PxToRem(12);
          background-color: $white-40;
          transition: all 0.3s ease-in-out;
          &:hover {
            border: 1px solid $yellow;
            background-color: transparent;
            color: $yellow;
          }
          &.current {
            border: 1px solid $yellow;
            background-color: transparent;
            color: $yellow;
          }
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
    }

    .all-blog-group-mobile {
      @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));

      @media (min-width: 701px) {
        display: none;
      }
    }

    .all-blog-group {
      @media (max-width: 700px) {
        display: none;
      }
    }
    .pagination-for-blog {
      @include d_flex(row, flex-start, center, nowrap, false, PxToRem(12));
      .prev,
      .next {
        i {
          font-size: PxToRem(32);
          color: $yellow;
        }
      }
      .prev {
        i {
          rotate: -90deg;
        }
      }
      .next {
        i {
          rotate: 90deg;
        }
      }
      .page-numbers {
        @include font_style(header5);
        &.current {
          color: $yellow;
          @include psudo(after, '', unset, 6px, block, absolute) {
            background-color: $yellow;
            border-radius: 50%;
            left: 50%;
            translate: -50% 0;
            bottom: PxToRem(-8);
          }
        }
      }
    }
  }
}
