@use '../utils/' as *;

main.contact-us-page {
  .contact-us-container {
    @include d_flex(row, flex-start, center, wrap, true, 0);
    flex-basis: 50%;
    > div {
      min-width: 50%;
    }
    .image-contact-us {
      min-width: PxToRem(300);
      max-height: PxToRem(632);
      img {
        object-fit: contain;
      }
    }
    .phone-location-social-media {
      padding-left: PxToRem(132);
      @include d_flex(column, center, flex-start, nowrap, false, PxToRem(48));
      div {
        .title-text {
          @include font_style(header6);
          color: $yellow;
          text-transform: capitalize;
          margin-bottom: PxToRem(16);
        }
      }
      .phone-number-and-title {
        .numbers {
          @include d_flex(row, space-between, center, nowrap, true, 0);
          .has-border {
            padding-right: PxToRem(16);
            margin-right: PxToRem(16);
            border-right: 1px solid $gray2;
          }
        }
      }
      .social-media-wrapper {
        .social-media-group {
          @include d_flex(row, flex-start, center, nowrap, true, PxToRem(8));
        }
      }
      @media (max-width: 700px) {
        order: 3;
        padding-left: 0;
      }
    }
    @media (max-width: 700px) {
      @include d_flex(column, center, flex-start, nowrap, false, PxToRem(16));
      .image-contact-us {
        align-self: center;
      }
    }

    .data-form {
      width: 100%;
      h2 {
        @include font_style('header');
        color: $yellow;
        text-transform: capitalize;
        margin-bottom: PxToRem(16);
        @media (max-width: 700px) {
          @include font_style('header5');
          color: $yellow;
        }
      }
      div {
        form {
          width: 100%;

          @include d_flex(
            column,
            flex-start,
            flex-start,
            nowrap,
            false,
            PxToRem(16)
          );

          div {
            width: 100%;
            @include d_flex(
              row,
              space-between,
              center,
              wrap,
              true,
              PxToRem(16)
            );
            input,
            textarea {
              flex-basis: 45%;
              background-color: $blue;
              max-width: 49%;
              background-color: $gray1;
              border: $border-gray;
              padding: PxToRem(12) PxToRem(16);
              border-radius: PxToRem(12);
              outline: none;
              color: $white;
              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:active {
                -webkit-text-fill-color: #ffffff;
                box-shadow: inset 0 0 PxToRem(20) PxToRem(20) $gray1;
              }
            }
            @media (max-width: 700px) {
              @include d_flex(
                column,
                center,
                center,
                nowrap,
                false,
                PxToRem(16)
              );
              input,
              textarea {
                max-width: unset;
                flex-basis: 100%;
                width: 100%;
              }
            }
          }
          button {
            background-color: $yellow;
            padding: PxToRem(12) PxToRem(24);
            color: $dark-gray;
            @media (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
