@use '../utils/' as *;
main.home-page {
  @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(48));

  section {
    width: 100%;
    .title-btn {
      @include d_flex(row, space-between, center, nowrap, false, PxToRem(24));
    }

    .title-section {
      @include font_style('header');
      color: $yellow;
      text-transform: capitalize;
      @media (max-width: 700px) {
        @include font_style('header6');
        color: $yellow;
      }
    }
  }
  .hero-section-home {
    position: relative;
    text-transform: capitalize;

    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: clamp(300px, 50vw, 60vh);

    .title-button-hero {
      margin-top: PxToRem(80);
      @include d_flex(column, center, center, nowrap, false, PxToRem(12));
      z-index: 1;
      h1 {
        @include font_style(t1);
        color: $yellow;
      }
      .description-hero {
        @include font_style(header2);
        color: $yellow;
      }
    }
    .clouds-wrapper {
      position: absolute;
      top: 0;
      isolation: isolate;
      z-index: -3;
      width: 100%;
      #clouds {
        width: 100%;
      }
    }
    .car-wrapper {
      position: absolute;
      bottom: 0.4rem;
      isolation: isolate;
      z-index: -1;
      #car {
        overflow: visible;
        width: 40vw;
        @media (max-width: 600px) {
          width: 60vw;
        }
        @media (max-width: 400px) {
          transform: translateX(100px);
        }
      }
    }
    .grass-wrapper {
      position: absolute;
      bottom: 2rem;
      z-index: -3;
      @media (max-width: 800px) {
        #grass-svg {
          height: 40px;
        }
      }
      @media (max-width: 600px) {
        #grass-svg {
          height: 30px;
        }
      }
      @media (max-width: 450px) {
        #grass-svg {
          height: 25px;
        }
      }
    }
    .city-wrapper {
      position: absolute;
      bottom: 0.5rem;
      z-index: -4;
      right: 0;

      @media (max-width: 700px) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        bottom: -0.2rem;

        padding-inline: PxToRem(16);
        #city-hero-svg {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          #city-hero {
            width: 100%;
          }
        }
      }
      @media (max-width: 480px) {
        bottom: -1.5rem;
      }
    }
    .road-wrapper {
      position: absolute;
      bottom: 0;
      isolation: isolate;
      z-index: -2;
      width: 100vw;
    }
    .road-line-wrapper {
      position: absolute;
      bottom: 0.8rem;
      isolation: isolate;
      z-index: -2;
      width: 100vw;
    }

    @media (max-width: 900px) {
      background-position: 50px bottom, center;
      .title-button-hero {
        margin-top: PxToRem(20);
        h1 {
          @include font_style('header');
          color: $yellow;
        }
        .description-hero {
          @include font_style(header4);
          color: $yellow;
        }
      }
    }
  }
  .introduce-services-home {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));

    .service-wrapper-home {
      @include d_flex(row, space-between, stretch, nowrap, false, PxToRem(20));
      .title-expert-wrapper {
        padding-right: PxToRem(20);
        &:not(:last-child) {
          border-inline-end: 1px solid $yellow;
        }
        h3 {
          @include font_style(header3);
          margin-bottom: PxToRem(8);
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $yellow;
          }
        }
        .service-expert {
          color: $gray3;
          @include text_over_flow($-webkit-line-clamp: 2);
        }
      }
      @media (max-width: 700px) {
        @include d_flex(
          column,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(24)
        );
        .title-expert-wrapper {
          padding-bottom: PxToRem(20);
          &:not(:last-child) {
            border-inline-end: none;
            border-bottom: 1px solid $yellow;
          }
        }
      }
    }
    .image-service-section {
      img {
        object-fit: contain;
        width: 100%;
        max-height: PxToRem(616);
      }
      @media (max-width: 700px) {
        display: none;
      }
    }
    .image-service-section-mobile {
      img {
        object-fit: contain;
        width: 100%;
        max-height: PxToRem(416);
      }
      @media (min-width: 701px) {
        display: none;
      }
    }
  }

  .yoozmove-story-section {
    @include d_flex(column, space-between, stretch, nowrap, true, PxToRem(24));
    .yoozmove-story-content {
      @include d_flex(
        column,
        space-between,
        stretch,
        nowrap,
        true,
        PxToRem(32)
      );

      .content {
        &:nth-child(odd) {
          @include d_flex(
            row,
            space-between,
            stretch,
            nowrap,
            true,
            PxToRem(28)
          );

          @media (max-width: 800px) {
            @include d_flex(
              column,
              space-between,
              center,
              nowrap,
              true,
              PxToRem(20)
            );
          }
        }
        &:nth-child(even) {
          @include d_flex(
            row-reverse,
            space-between,
            stretch,
            nowrap,
            true,
            PxToRem(28)
          );

          @media (max-width: 800px) {
            @include d_flex(
              column,
              space-between,
              center,
              nowrap,
              true,
              PxToRem(20)
            );
          }
        }
        .image {
          @include d_flex(column, center, flex-end, nowrap, false, 0);

          img {
            object-fit: cover;
          }
        }

        .text-content {
          padding: PxToRem(16);
          padding-block: PxToRem(36);
          @include d_flex(
            column,
            center,
            flex-start,
            nowrap,
            false,
            PxToRem(4)
          );
          .heading-description {
            .heading {
              @include font_style(header3);
              text-transform: capitalize;
              margin-bottom: PxToRem(8);
            }
            .description-content {
              text-align: justify;
              color: $gray3;
            }
          }
        }
      }
    }
  }

  #home-form-section {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));
    .form-and-image {
      @include d_flex(row, space-between, stretch, wrap, true, PxToRem(20));
      form {
        justify-content: flex-start;
        .submit-button-comment {
          background-color: $yellow;
          color: $dark-gray;
        }
      }
      .image-form-section {
        img {
          max-height: PxToRem(324);
          object-fit: contain;
          width: 100%;
        }
      }
      @media (max-width: 700px) {
        @include d_flex(
          column-reverse,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(24)
        );
      }
    }
  }

  .blog-in-home {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));
    > div {
      width: 100%;
    }
    .mobile-cat {
      @media (min-width: 601px) {
        display: none;
      }
    }
    .categories-names {
      ul {
        @include d_flex(row, flex-start, center, wrap, false, PxToRem(12));
        li {
          text-transform: capitalize;
          padding: PxToRem(8) PxToRem(24);
          border: 1px solid transparent;
          border-radius: PxToRem(12);
          background-color: $white-40;
          transition: all 0.3s ease-in-out;
          &:hover {
            border: 1px solid $yellow;
            background-color: transparent;
            color: $yellow;
          }
          &.current {
            border: 1px solid $yellow;
            background-color: transparent;
            color: $yellow;
          }
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
    .latest-blog-group {
      @include d_flex(row, flex-start, stretch, nowrap, flex, PxToRem(16));
      @media (max-width: 800px) {
        display: none;
      }
    }
    .latest-blog-group-mobile {
      @media (min-width: 801px) {
        display: none;
      }
    }
    .image-section-blog {
      width: 100%;
      img {
        min-height: PxToRem(208);
        object-fit: cover;
        width: 100%;
      }
    }
    .button-show-all {
      background-color: $yellow;
      margin-top: PxToRem(-24);
    }
  }

  .testimonial-section-in-home {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(24));
    .title-btn {
      .yelp-and-google {
        @include d_flex(row, flex-start, center, nowrap, false, PxToRem(8));
      }
    }
  }

  .faq-section-in-home {
    .faq-group-and-image {
      div {
        img {
          max-height: PxToRem(388);
          object-fit: contain;
        }
      }
      margin-top: PxToRem(20);
      @include d_flex(row, space-between, center, nowrap, false, PxToRem(36));
      .frequently-asked-questions {
        @include d_flex(column, center, stretch, nowrap, false, PxToRem(12));
        flex: 1;
        padding-right: PxToRem(24);
        border-right: $border-gray;
        .container-question {
          width: 100%;
          display: grid;
          .category-icon {
            @include d_flex(
              row,
              space-between,
              center,
              nowrap,
              false,
              PxToRem(48)
            );
            padding-block: PxToRem(24);
            .cat-name {
              @include font_style(header5);
            }
            i {
              transition: all 0.3s ease-in-out;
              cursor: pointer;
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid $white;
          }

          .grid-auto-height-transitions {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            > div {
              text-align: justify;
              overflow: hidden;
            }
          }

          &[active] {
            .grid-auto-height-transitions {
              grid-template-rows: 1fr;
            }
            .category-icon {
              i {
                rotate: 180deg;
              }
            }
          }
        }
      }
      @media (max-width: 900px) {
        @include d_flex(
          column-reverse,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(24)
        );
        .frequently-asked-questions {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }

  .why-us {
    .description {
      text-align: justify;
    }
    .container-information {
      padding-block: PxToRem(24);
      @include d_flex(row, space-between, stretch, wrap, true, PxToRem(0));

      .content {
        width: 32%;
        flex-basis: 32%;
        padding: PxToRem(20);
        &:nth-child(2),
        &:nth-child(5) {
          border-inline: 1px dashed $blue2;
          @media (max-width: 1000px) {
            border-inline: none;
          }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-bottom: 1px dashed $blue2;
          @media (max-width: 1000px) {
            border-bottom: none;
          }
        }
        .title {
          @include font_style(header3);
          color: $yellow;
          margin-bottom: PxToRem(16);
        }

        @media (max-width: 1000px) {
          width: 100%;
        }
      }
      @media (max-width: 1000px) {
        @include d_flex(column, center, flex-start, nowrap, true, PxToRem(16));
      }
    }
    .join-form-image {
      @include d_flex(
        row-reverse,
        space-between,
        center,
        nowrap,
        false,
        PxToRem(24)
      );
      div {
        img {
          max-height: PxToRem(368);
          object-fit: contain;
        }
      }
      .title-form-inputs {
        @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(8));
        width: 60%;
        .title-form {
          @include font_style(header3);
          color: $yellow;
        }
        .description-join {
          text-align: justify;
        }
        .data-form {
          width: 100%;
          margin-top: PxToRem(28);
          h2 {
            @include font_style('header');
            color: $yellow;
            text-transform: capitalize;
            margin-bottom: PxToRem(16);
            @media (max-width: 700px) {
              @include font_style('header5');
              color: $yellow;
            }
          }
          div {
            form {
              width: 100%;

              @include d_flex(
                column,
                flex-start,
                flex-start,
                nowrap,
                false,
                PxToRem(16)
              );

              div {
                width: 100%;
                @include d_flex(
                  row,
                  space-between,
                  center,
                  wrap,
                  true,
                  PxToRem(16)
                );
                input {
                  flex-basis: 45%;
                  background-color: $blue;
                  max-width: 49%;
                  background-color: $gray1;
                  border: $border-gray;
                  padding: PxToRem(12) PxToRem(16);
                  border-radius: PxToRem(12);
                  outline: none;
                  color: $white;
                  &:-webkit-autofill,
                  &:-webkit-autofill:hover,
                  &:-webkit-autofill:focus,
                  &:-webkit-autofill:active {
                    -webkit-text-fill-color: #ffffff;
                    box-shadow: inset 0 0 PxToRem(20) PxToRem(20) $gray1;
                  }
                }
                input[type='file'] {
                  padding: 9.5px PxToRem(16);
                  &::-webkit-file-upload-button {
                    visibility: hidden;
                  }
                  &::before {
                    content: 'Attach File';
                    opacity: 0.5;
                    font-weight: 200;
                    font-size: 15px;
                  }
                }
                @media (max-width: 700px) {
                  @include d_flex(
                    column,
                    center,
                    center,
                    nowrap,
                    false,
                    PxToRem(16)
                  );
                  input,
                  textarea {
                    max-width: unset;
                    flex-basis: 100%;
                    width: 100%;
                  }
                }
              }
              button {
                background-color: $yellow;
                padding: PxToRem(12) PxToRem(24);
                color: $dark-gray;
                @media (max-width: 700px) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      @media (max-width: 780px) {
        @include d_flex(
          column,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(24)
        );
        .title-form-inputs {
          width: 100%;
          .title-form {
            @include font_style(header4);
            color: $yellow;
          }
        }
      }
    }
  }
  .btn-mobile-not-show {
    @media (max-width: 600px) {
      display: none;
    }
  }
  .btn-desktop-not-show {
    @media (min-width: 601px) {
      display: none;
    }
  }
}

#clouds > path {
  animation: leftToRightDance 4s ease-in infinite alternate;

  @for $i from 0 to 10 {
    &:nth-child(#{$i}) {
      animation-delay: calc(0.3s * $i);
    }
  }
}

#car {
  transform: translateX(160px);

  .wheel_1 {
    animation: rotate360 1s linear infinite;
    transform-origin: 16.6% 82.5%;
  }

  .wheel_2 {
    animation: rotate360 1s linear infinite;
    transform-origin: 62.5% 82.5%;
  }

  #Group {
    animation: upAndDown 1s ease-in-out infinite alternate;
    @media (max-width: 600px) {
      animation-name: upAndDownMobile;
    }
  }
}

#Road {
  #road_lines {
    animation: scroll 5s infinite linear;
  }
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 18s)
    var(--_animation-direction, forwards) linear infinite reverse;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}
