@use '../utils/' as *;

main.search-page {
  @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(40));

  .search-hero {
    @include d_flex(row, space-between, center, nowrap, true, PxToRem(24));
    .image-hero-search {
      @include d_flex(row, flex-start, center, nowrap, true, PxToRem(24));

      img {
        max-height: PxToRem(312);
        object-fit: contain;
      }
    }
    .title-search-and-input {
      h1 {
        @include font_style(t1);
        span {
          color: $yellow;
        }
      }
      form {
        margin-top: PxToRem(24);
        width: max-content;
        @media (max-width: 500px) {
          width: 100%;
        }
      }
    }
    @media (max-width: 900px) {
      .title-search-and-input {
        h1 {
          @include font_style(header7);
        }
      }
    }
    @media (max-width: 700px) {
      @include d_flex(column, flex-start, stretch, nowrap, true, PxToRem(24));
    }
  }
  .category-search {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(20));

    p {
      @include font_style(header3);
      color: $yellow;
    }
    .categories-names {
      padding-inline: PxToRem(20);

      ul {
        li {
          transition: all 0.3s ease-in;
          padding-bottom: PxToRem(8);
          &:not(:first-child) {
            padding-top: PxToRem(8);
          }
          &:not(:last-child) {
            border-bottom: $border-gray;
          }
          &:hover {
            color: $yellow;
          }
        }
      }
    }
    @media (min-width: 901px) {
      display: none;
    }
  }
  .search-result-sidebar {
    @include d_flex(row, space-between, stretch, nowrap, false, PxToRem(20));

    aside {
      padding-left: 0;
      .sidebar-container {
        display: none;
      }
      @media (max-width: 900px) {
        display: none;
      }
    }
    .results {
      border-right: $border-gray;
      padding-right: PxToRem(20);
      width: 70%;
      @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(40));
      .service-result {
        @include d_flex(
          column,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(40)
        );

        h2 {
          @include font_style(header7);
          span {
            color: $yellow;
          }
          @media (max-width: 600px) {
            @include font_style(header6);
          }
        }
        .service-desktop {
          @include d_flex(
            column,
            flex-start,
            stretch,
            nowrap,
            false,
            PxToRem(40)
          );
          @media (max-width: 900px) {
            display: none;
          }
          .service-content {
            @include d_flex(
              row-reverse,
              space-between,
              center,
              nowrap,
              false,
              PxToRem(20)
            );
            .title-expert-service {
              h2 {
                @include font_style('header3');
              }
              .service-expert {
                @include text_over_flow($-webkit-line-clamp: 2);
              }
            }
          }
        }
        .service-mobile {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: PxToRem(16);

          .card-post-small {
            border-bottom: none;
            .post-thumbnail {
              img {
                max-height: PxToRem(452);
                object-fit: contain;
                width: 100%;
              }
            }
          }
          @media (min-width: 901px) {
            display: none;
          }
          @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
          }
          @media (max-width: 500px) {
            grid-template-columns: 1fr;
          }
        }
      }
      .blog-result {
        @include d_flex(
          column,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(40)
        );

        h2 {
          @include font_style(header7);
          span {
            color: $yellow;
          }
          @media (max-width: 600px) {
            @include font_style(header6);
          }
        }
        .blog-desktop {
          @media (max-width: 900px) {
            display: none;
          }
        }
        .blog-mobile {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: PxToRem(16);
          .card-post-small {
            border-bottom: none;

            .post-thumbnail {
              img {
                max-height: PxToRem(452);
                object-fit: cover;
                width: 100%;
              }
            }
          }
          @media (min-width: 901px) {
            display: none;
          }
          @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
          }
          @media (max-width: 500px) {
            grid-template-columns: 1fr;
          }
        }
      }
      .not-found-search {
        @include d_flex(
          column,
          flex-start,
          stretch,
          nowrap,
          false,
          PxToRem(40)
        );
        h2 {
          width: 100%;
          @include font_style(header7);
          span {
            color: $yellow;
          }
          @media (max-width: 600px) {
            @include font_style(header6);
          }
        }
        div {
          @include d_flex(
            column,
            flex-start,
            center,
            nowrap,
            false,
            PxToRem(40)
          );

          div {
            img {
              object-fit: contain;
              max-height: PxToRem(280);
            }
          }
          h3 {
            @include font_style(header7);
            color: $yellow;
            @media (max-width: 600px) {
              @include font_style(header6);
              color: $yellow;
            }
          }
        }
      }
      @media (max-width: 900px) {
        width: 100%;
        padding-right: 0;
        border-right: none;
      }
    }
  }
  .last-post-group {
    @include d_flex(column, flex-start, stretch, nowrap, false, PxToRem(20));
    p {
      @include font_style(header3);
      color: $yellow;
    }
    .blog-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: PxToRem(16);
      .card-post-small {
        border-bottom: none;
      }
      @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        .card-post-small {
          border-bottom: none;
        }
      }
    }
    @media (min-width: 901px) {
      display: none;
    }
  }
}
