@use '../utils' as *;



section{
    display:flex !important;
    margin:1rem 0.5rem;

    .img{
        width:100% !important;
        height:100%;
    }
    .content{
        width:50rem;
        margin:4rem 2rem;

        .text-light{
            h3{
                color: #fff !important;
                font-size: 18px;
            }
        }
        p{
            color:$gray3;;
    font-size: 18px;
    padding: 1rem 16rem 1rem 0rem;
        }
    }
    .sub-service {
        color: $white;
        padding: 0.5rem 1rem;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
    }
    .content-service {
        color: $gray2;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
    }
    form{
        width:50rem;
        margin:1rem 2rem;
    }
    .step{
        width: 100%;
    display: flex;
    align-items: left;
    text-align: left;
    margin: 1rem;
    }
    .img-step {
        margin: 5rem;
    }
    
       .content{
        h1{
            color: $white;
            text-align: left;
    padding: 0 6rem;
    font-size: 26px;
    font-weight: 700;
        }
        p{
            padding:0 5.5rem;
            text-align: left;
        }
        .btn-welcome-blog{
            background: $yellow;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin:0 37rem 0 0;
        }
       } 
    
}


   .title-section{
        text-align: left;
    font-size: xx-large;
    }
    
    .bg-none{
        background-color:#ff000000 !important;
    }

    .service-form{
        input{
            background: blue;
    border-radius: 0.75rem;
    padding: 0.5rem;
        }
    }